/* Write your CSS code here */
.bg-con-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #00e7ff;
}
.blue-line-container {
  border: 5px solid #00e7ff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-top: 48px;
}
.coin {
  background-color: #092e33;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p {
  color: white;
  margin: 10px;
}
.flex-2 {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}
